@use "sass:map";

@use "partials";

@use "./variants" as variants;
@use "./sizing" as sizing;
@use "./constants" as *;
@use "./fonts" as fonts;

@mixin button-base() {
  @include partials.transition(none);
  @include partials.disabled;

  appearance: none;
  background-color: transparent;
  border-radius: $button-border-radius;
  box-shadow: none !important;
  box-sizing: border-box;
  cursor: pointer;
  font-stretch: normal;
  // The default font family.
  font-family: $button-font-family;
  // The default font weight.
  font-weight: partials.get-font-weight($type: "body", $weight: "medium");
  margin: 0;
  min-height: 0px;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
}

@mixin button-structure() {
  min-width: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;

  > .button__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: inherit;
    vertical-align: middle;
    line-height: inherit;
    font-size: inherit;
    overflow: hidden;
    max-width: 100%;
    flex-grow: 100;
    gap: 8px;

    > .button__sub-content {
      text-align: inherit;
      vertical-align: middle;
      line-height: inherit;
      font-size: inherit;
      max-width: 100%;
      flex-grow: 100;
      @include partials.truncate();
    }
  }

  .icon {
    color: inherit;
    filter: inherit;
  }
}

@mixin button(
  $type,
  $variant: null,
  $size: null,
  $border: false,
  $active-selector: ".button--active"
) {
  $variant: if(
    $variant,
    partials.validate-value($variant, partials.mapget($button-variants, $type)),
    partials.mapget($button-default-variant, $type)
  );
  $size: if($size, $size, $button-default-size);
  @include variants.button-variant(
    $type: $type,
    $variant: $variant,
    $border: $border,
    $active-selector: $active-selector
  );

  @if $type != "icon-button" {
    @include fonts.button-font($type, $size: $size);
  }
  @if $type != "link" {
    @include sizing.button-size($type, $size);
  }
}

@mixin button-properties($type, $border: false, $active-selector: ".button--active") {
  @include button-base;
  @include variants.button-variants($type, $border: $border, $active-selector: $active-selector);

  @if $type != "icon-button" {
    @include fonts.button-fonts($type);
  }
  @if $type != "link" {
    @include sizing.button-sizes($type);
  }
}
