@use "sass:list";
@use "sass:map";

@use "partials";
@use "./base" as *;
@use "./constants" as constants;

button {
  @include button-base;

  // For third-party buttons that are injected into the HTML (i.e. Clerk) we will assume they are
  // primary buttons.
  &:not(.button, .cl-userButtonTrigger, .cl-userButtonPopoverActionButton) {
    @include third-party-button("button", $size: "medium", $variant: "primary");
  }
}

.button {
  /* When providing a border, we need to use the outline property - not the border property.  This
     is because a border will contribute to the size of the button, whereas an outline will not. */
  border: none;
  border-radius: constants.$button-border-radius;
  justify-content: center;
  text-align: center;
  outline-offset: -1 * constants.$button-outline-width;

  &--type-button {
    @include button("button");
  }

  &--type-link {
    @include button("link");

    text-decoration: none;
    line-height: 1;

    @layer {
      font-weight: constants.$link-font-weight;
      color: inherit;
    }
  }

  &--type-icon-button {
    @include button("icon-button");
  }
}
