@use "sass:map";
@use "sass:meta";

@use "partials";
@use "./mixins" as mixins;
@use "./constants" as *;

@function map-has-state-key($data) {
  @each $state-name in $button-state-names {
    @if map.has-key($data, $state-name) {
      @return true;
    }
  }
  @return false;
}

$themes: (
  "danger": (
    base: theme("colors.danger.700"),
    hovered: theme("colors.danger.800"),
    focused: theme("colors.danger.800"),
  ),
  "primary": (
    base: theme("colors.blue.600"),
    hovered: theme("colors.blue.800"),
    focused: theme("colors.blue.800"),
  ),
  "secondary": (
    base: theme("colors.gray.200"),
    hovered: theme("colors.gray.300"),
    focused: theme("colors.gray.300"),
  ),
  "outline": (
    base: theme("colors.gray.400"),
    hovered: theme("colors.gray.500"),
    focused: theme("colors.gray.500"),
  ),
  "bare": (),
);

$button-color-properties: (
  "button": (
    "primary": (
      background-color: partials.mapget($themes, "primary", "base"),
      color: theme("colors.white"),
      outline-color: partials.mapget($themes, "primary", "base"),
      hovered: (
        background-color: partials.mapget($themes, "primary", "hovered"),
        outline-color: partials.mapget($themes, "primary", "hovered"),
      ),
      focused: (
        background-color: partials.mapget($themes, "primary", "focused"),
        outline-color: partials.mapget($themes, "primary", "focused"),
      ),
      disabled: (
        background-color: theme("colors.disabledBackground"),
        outline-color: theme("colors.disabledBorder"),
      ),
    ),
    "secondary": (
      background-color: partials.mapget($themes, "secondary", "base"),
      color: theme("colors.gray.700"),
      outline-color: partials.mapget($themes, "secondary", "base"),
      hovered: (
        background-color: partials.mapget($themes, "secondary", "hovered"),
        outline-color: partials.mapget($themes, "secondary", "hovered"),
      ),
      focused: (
        background-color: partials.mapget($themes, "secondary", "focused"),
        outline-color: partials.mapget($themes, "secondary", "focused"),
      ),
      disabled: (
        background-color: theme("colors.disabledBackground"),
        outline-color: theme("colors.disabledBorder"),
      ),
    ),
    "danger": (
      background-color: partials.mapget($themes, "danger", "base"),
      color: theme("colors.white"),
      outline-color: partials.mapget($themes, "danger", "base"),
      hovered: (
        background-color: partials.mapget($themes, "danger", "hovered"),
        outline-color: partials.mapget($themes, "danger", "hovered"),
      ),
      focused: (
        background-color: partials.mapget($themes, "danger", "focused"),
        outline-color: partials.mapget($themes, "danger", "focused"),
      ),
      disabled: (
        background-color: theme("colors.red.200"),
        outline-color: theme("colors.red.200"),
      ),
    ),
    "outline": (
      outline-color: partials.mapget($themes, "outline", "base"),
      background-color: theme("colors.white"),
      color: theme("colors.gray.700"),
      hovered: (
        outline-color: partials.mapget($themes, "outline", "hovered"),
      ),
      focused: (
        outline-color: partials.mapget($themes, "outline", "hovered"),
      ),
      disabled: (
        outline-color: theme("colors.disabledBorder"),
      ),
    ),
    "bare": (),
  ),
  "icon-button": (
    "primary": (
      background-color: partials.mapget($themes, "primary", "base"),
      color: theme("colors.white"),
      outline-color: partials.mapget($themes, "primary", "base"),
      hovered: (
        background-color: partials.mapget($themes, "primary", "hovered"),
        outline-color: partials.mapget($themes, "primary", "hovered"),
      ),
      focused: (
        background-color: partials.mapget($themes, "primary", "focused"),
        outline-color: partials.mapget($themes, "primary", "focused"),
      ),
      disabled: (
        background-color: theme("colors.disabledBackground"),
        outline-color: theme("colors.disabledBorder"),
      ),
    ),
    "secondary": (
      background-color: partials.mapget($themes, "secondary", "base"),
      color: theme("colors.gray.700"),
      outline-color: partials.mapget($themes, "secondary", "base"),
      hovered: (
        background-color: partials.mapget($themes, "secondary", "hovered"),
        outline-color: partials.mapget($themes, "secondary", "hovered"),
      ),
      focused: (
        background-color: partials.mapget($themes, "secondary", "focused"),
        outline-color: partials.mapget($themes, "secondary", "focused"),
      ),
      disabled: (
        background-color: theme("colors.disabledBackground"),
        outline-color: theme("colors.disabledBorder"),
      ),
    ),
    "danger": (
      background-color: partials.mapget($themes, "danger", "base"),
      color: theme("colors.white"),
      outline-color: partials.mapget($themes, "danger", "base"),
      hovered: (
        background-color: partials.mapget($themes, "danger", "hovered"),
        outline-color: partials.mapget($themes, "danger", "hovered"),
      ),
      focused: (
        background-color: partials.mapget($themes, "danger", "focused"),
        outline-color: partials.mapget($themes, "danger", "focused"),
      ),
      disabled: (
        background-color: theme("colors.red.200"),
        outline-color: theme("colors.red.200"),
      ),
    ),
    "outline": (
      outline-color: partials.mapget($themes, "outline", "base"),
      background-color: theme("colors.white"),
      color: partials.mapget($themes, "outline", "base"),
      hovered: (
        outline-color: partials.mapget($themes, "outline", "hovered"),
      ),
      focused: (
        outline-color: partials.mapget($themes, "outline", "hovered"),
      ),
      disabled: (
        outline-color: theme("colors.disabledBorder"),
      ),
    ),
    "bare": (),
  ),
  "link": (
    "primary": (
      background-color: theme("colors.transparent"),
      color: partials.mapget($themes, "primary", "base"),
      outline-color: theme("colors.transparent"),
      hovered: (
        color: partials.mapget($themes, "primary", "hovered"),
      ),
      focused: (
        color: partials.mapget($themes, "primary", "focused"),
      ),
      disabled: (
        color: theme("colors.disabled"),
      ),
    ),
    "secondary": (
      background-color: theme("colors.transparent"),
      color: theme("colors.gray.600"),
      outline-color: theme("colors.transparent"),
      hovered: (
        color: theme("colors.gray.700"),
      ),
      focused: (
        color: theme("colors.gray.800"),
      ),
      disabled: (
        color: theme("colors.disabled"),
      ),
    ),
    // The outline variant for an alternate button is not applicable.
    "outline": (),
    "danger": (
      background-color: theme("colors.transparent"),
      color: partials.mapget($themes, "danger", "base"),
      outline-color: theme("colors.transparent"),
      hovered: (
        color: partials.mapget($themes, "danger", "hovered"),
      ),
      focused: (
        color: partials.mapget($themes, "danger", "focused"),
      ),
      disabled: (
        color: theme("colors.red.200"),
      ),
    ),
    "bare": (),
  ),
);

@function parse-state-colors($attributes, $state-name, $args...) {
  $state-name: partials.validate-value($state-name, $button-state-names);
  $arguments: meta.keywords($args);
  @if map.has-key($arguments, $state-name) {
    $state: partials.mapget($arguments, $state-name);
    @if map-has-state-key($state) {
      @return throw.error(
        "Detected nested state key(s) in state attribute #{$state-name}.  This will cause an infinite recursion.",
        $source: "button-colors()"
      );
    }
    // If the state defines an override for the outline-color, we need to also override the outline
    // because it will have been defaulted in the original base set of attributes based on the
    // outline color of the base state.
    @if map.has-key($state, outline-color) and not map.has-key($state, outline) {
      $state: map.set(
        $state,
        outline,
        $button-outline-width solid partials.mapget($state, outline-color)
      );
    }

    @return map.merge($attributes, $state);
  }
  @return null;
}

@mixin button-colors($args...) {
  $arguments: meta.keywords($args);

  $type: map.get($arguments, "type");
  $variant: map.get($arguments, "variant");

  @if $variant or $type {
    @if not $variant or not $type {
      @include throw.error-mixin(
        "If the 'type' argument is provided, the 'variant' must also be provided, and vice versa.",
        $source: "button-colors()",
        $type: $type,
        $variant: $variant
      );
    } @else {
      $colors: partials.mapget($button-color-properties, $type, $variant);
      @include button-colors($colors...);
    }
  } @else {
    $background-color: partials.get-optional-kwarg(
      background-color,
      $default: theme("colors.transparent"),
      $args...
    );
    $outline-color: partials.get-optional-kwarg(
      outline-color,
      $default: $background-color,
      $args...
    );
    $outline: partials.get-optional-kwarg(
      outline,
      $default: $button-outline-width solid $outline-color,
      $args...
    );

    $attributes: (
      background-color: $background-color,
      outline-color: $outline-color,
      outline: $outline,
      color: partials.get-optional-kwarg(color, $default: null, $args...),
    );

    @each $attr in map.keys($attributes) {
      // Do not set null keys.
      @if partials.mapget($attributes, $attr) {
        #{$attr}: partials.mapget($attributes, $attr);
      }
    }

    @include mixins.button-placeholder {
      color: theme("colors.placeholder");
    }

    // If a 'hovered' argument is provided, include this mixin recursively to define the colors of
    // the button when it is hovered.
    $hovered: parse-state-colors($attributes, "hovered", $args...);
    @if $hovered {
      @include mixins.button-hovered {
        // Use the original, non-hovered and non-focused attributes as defaults such that only the
        // hovered attributes that are provided are overridden when the button is hovered.
        $hovered: map.merge($attributes, $hovered);
        @include button-colors($hovered...);
      }
    }
    // If a 'focused' argument is provided, include this mixin recursively to define the colors of
    // the button when it is focused.
    $focused: parse-state-colors($attributes, "focused", $args...);
    @if $focused {
      @include mixins.button-focused {
        // Use the original, non-hovered and non-focused attributes as defaults such that only the
        // focused attributes that are provided are overridden when the button is focused.
        $focused: map.merge($attributes, $focused);
        @include button-colors($focused...);
      }
    }

    $active: parse-state-colors($attributes, "active", $args...);
    $active: if($active, $active, if($focused, $focused, $hovered));
    @if $active {
      @include mixins.button-active {
        // Use the original, non-hovered and non-focused attributes as defaults such that only the
        // active attributes that are provided are overridden when the button is active.
        $active: map.merge($attributes, $active);
        @include button-colors($active...);
      }
    }

    // If a 'disabled' argument is provided, include this mixin recursively to define the colors of
    // the button when it is disabled.
    $disabled: parse-state-colors($attributes, "disabled", $args...);
    @if $disabled {
      @include partials.disabled {
        // Use the original, non-hovered and non-focused attributes as defaults such that only
        // the disabled attributes that are provided are overridden when the button is disabled.
        $disabled: map.merge($attributes, $disabled);
        @include button-colors($disabled...);
      }
    }
  }
}
