@use "partials";

/*
Buttons  need to leverage an outline instead of a border, because an outline is inset and a border
is outset. In other words, the border will contribute size to the overall Button, while the outline
will not.
*/
$button-outline-width: 1px;

$button-state-names: ("hovered", "focused", "disabled", "active");

$button-font-family: theme("fontFamily.sans");
$button-border-radius: theme("borderRadius.md");

// The button font-weight here is used as the default - the font-weight will usually depend on the variant.
$button-font-weight: partials.get-font-weight(
  $weight: "medium",
);
$link-font-weight: partials.get-font-weight(
  $weight: "medium",
);

$button-types: ("button", "link", "icon-button");
$button-default-type: "button";
$button-variants: ("primary", "secondary", "danger", "outline");

$button-size-names: ("xsmall", "small", "medium", "large", "xlarge");

// The button's icon size will be sized based on the button's primary 'size', unless the 'icon-size'
// is explicitly included as a class name as well
// (e.g. button--size-small button--icon-size-xlarge).
$button-icon-size-names: ("xsmall", "small", "medium", "large", "xlarge", "full");

$button-default-size: "small";
