@use "sass:map";
@use "sass:meta";

@use "partials";
@use "./mixins" as mixins;
@use "./constants" as *;

@function map-has-state-key($data) {
  @each $state-name in $button-state-names {
    @if map.has-key($data, $state-name) {
      @return true;
    }
  }
  @return false;
}

$button-color-properties: (
  "button": (
    "primary": (
      background-color: theme("colors.blue.600"),
      color: theme("colors.white"),
      outline-color: theme("colors.blue.600"),
      hovered: (
        background-color: theme("colors.blue.800"),
        outline-color: theme("colors.blue.800"),
      ),
      focused: (
        background-color: theme("colors.blue.800"),
        outline-color: theme("colors.blue.800"),
      ),
      disabled: (
        background-color: theme("colors.disabledBackground"),
        outline-color: theme("colors.disabledBorder"),
      ),
    ),
    "secondary": (
      background-color: theme("colors.gray.200"),
      color: theme("colors.gray.700"),
      outline-color: theme("colors.gray.200"),
      hovered: (
        background-color: theme("colors.gray.300"),
        outline-color: theme("colors.gray.300"),
      ),
      focused: (
        background-color: theme("colors.gray.300"),
        outline-color: theme("colors.gray.300"),
      ),
      disabled: (
        background-color: theme("colors.disabledBackground"),
        outline-color: theme("colors.disabledBorder"),
      ),
    ),
    "danger": (
      background-color: theme("colors.danger.700"),
      color: theme("colors.white"),
      outline-color: theme("colors.danger.700"),
      hovered: (
        background-color: theme("colors.danger.800"),
        outline-color: theme("colors.danger.800"),
      ),
      focused: (
        background-color: theme("colors.danger.800"),
        outline-color: theme("colors.danger.800"),
      ),
      disabled: (
        background-color: theme("colors.red.200"),
        outline-color: theme("colors.red.200"),
      ),
    ),
    "bare": (),
  ),
  "icon-button": (
    "primary": (
      background-color: theme("colors.blue.600"),
      color: theme("colors.white"),
      outline-color: theme("colors.blue.600"),
      hovered: (
        background-color: theme("colors.blue.800"),
        outline-color: theme("colors.blue.800"),
      ),
      focused: (
        background-color: theme("colors.blue.800"),
        outline-color: theme("colors.blue.800"),
      ),
      disabled: (
        background-color: theme("colors.disabledBackground"),
        outline-color: theme("colors.disabledBorder"),
      ),
    ),
    "secondary": (
      background-color: theme("colors.gray.200"),
      color: theme("colors.gray.700"),
      outline-color: theme("colors.gray.200"),
      hovered: (
        background-color: theme("colors.gray.300"),
        outline-color: theme("colors.gray.300"),
      ),
      focused: (
        background-color: theme("colors.gray.300"),
        outline-color: theme("colors.gray.300"),
      ),
      disabled: (
        background-color: theme("colors.disabledBackground"),
        outline-color: theme("colors.disabledBorder"),
      ),
    ),
    "transparent": (
      background-color: theme("colors.transparent"),
      color: theme("colors.gray.700"),
      outline-color: theme("colors.transparent"),
      hovered: (
        background-color: theme("colors.gray.100"),
      ),
      focused: (
        background-color: theme("colors.gray.100"),
      ),
      disabled: (
        color: theme("colors.disabled"),
      ),
    ),
    "danger": (
      background-color: theme("colors.danger.700"),
      color: theme("colors.white"),
      outline-color: theme("colors.danger.700"),
      hovered: (
        background-color: theme("colors.danger.800"),
        outline-color: theme("colors.danger.800"),
      ),
      focused: (
        background-color: theme("colors.danger.800"),
        outline-color: theme("colors.danger.800"),
      ),
      disabled: (
        background-color: theme("colors.red.200"),
        outline-color: theme("colors.red.200"),
      ),
    ),
    "bare": (),
  ),
  "link": (
    "primary": (
      background-color: theme("colors.transparent"),
      color: theme("colors.blue.600"),
      outline-color: theme("colors.transparent"),
      hovered: (
        color: theme("colors.blue.800"),
      ),
      focused: (
        color: theme("colors.blue.800"),
      ),
      disabled: (
        color: theme("colors.disabled"),
      ),
    ),
    "secondary": (
      background-color: theme("colors.transparent"),
      color: theme("colors.gray.600"),
      outline-color: theme("colors.transparent"),
      hovered: (
        color: theme("colors.gray.700"),
      ),
      focused: (
        color: theme("colors.gray.800"),
      ),
      disabled: (
        color: theme("colors.disabled"),
      ),
    ),
    "danger": (
      background-color: theme("colors.transparent"),
      color: theme("colors.danger.700"),
      outline-color: theme("colors.transparent"),
      hovered: (
        color: theme("colors.danger.800"),
      ),
      focused: (
        color: theme("colors.danger.800"),
      ),
      disabled: (
        color: theme("colors.red.200"),
      ),
    ),
  ),
);

@function parse-state-colors($attributes, $state-name, $args...) {
  $state-name: partials.validate-value($state-name, $button-state-names);
  $arguments: meta.keywords($args);
  @if map.has-key($arguments, $state-name) {
    $state: partials.mapget($arguments, $state-name);
    @if map-has-state-key($state) {
      @return throw.error(
        "Detected nested state key(s) in state attribute #{$state-name}.  This will cause an infinite recursion.",
        $source: "button-colors()"
      );
    }
    // If the state defines an override for the outline-color, we need to also override the outline
    // because it will have been defaulted in the original base set of attributes based on the
    // outline color of the base state.
    @if map.has-key($state, outline-color) and not map.has-key($state, outline) {
      $state: map.set(
        $state,
        outline,
        $button-outline-width solid partials.mapget($state, outline-color)
      );
    }

    @return map.merge($attributes, $state);
  }
  @return null;
}

@mixin button-variant($args...) {
  $arguments: meta.keywords($args);

  $type: map.get($arguments, "type");
  $variant: map.get($arguments, "variant");


  @if $variant or $type {
    @if not $variant or not $type {
      @include throw.error-mixin(
        "If the 'type' argument is provided, the 'variant' must also be provided, and vice versa.",
        $source: "button-colors()",
        $type: $type,
        $variant: $variant
      );
    } @else {
      $variant: partials.validate-value($variant, partials.mapget($button-variants, $type));
      $colors: partials.mapget($button-color-properties, $type, $variant);
      @include button-variant($colors...);
    }
  } @else {
    $background-color: partials.get-optional-kwarg(
      background-color,
      $default: theme("colors.transparent"),
      $args...
    );
    $outline-color: partials.get-optional-kwarg(
      outline-color,
      $default: $background-color,
      $args...
    );
    $outline: partials.get-optional-kwarg(
      outline,
      $default: $button-outline-width solid $outline-color,
      $args...
    );

    $attributes: (
      background-color: $background-color,
      outline-color: $outline-color,
      outline: $outline,
      color: partials.get-optional-kwarg(color, $default: null, $args...),
    );

    @each $attr in map.keys($attributes) {
      // Do not set null keys.
      @if partials.mapget($attributes, $attr) {
        #{$attr}: partials.mapget($attributes, $attr);
      }
    }

    @include mixins.button-placeholder {
      color: theme("colors.placeholder");
    }

    // If a 'hovered' argument is provided, include this mixin recursively to define the colors of
    // the button when it is hovered.
    $hovered: parse-state-colors($attributes, "hovered", $args...);
    @if $hovered {
      @include mixins.button-hovered {
        // Use the original, non-hovered and non-focused attributes as defaults such that only the
        // hovered attributes that are provided are overridden when the button is hovered.
        $hovered: map.merge($attributes, $hovered);
        @include button-variant($hovered...);
      }
    }
    // If a 'focused' argument is provided, include this mixin recursively to define the colors of
    // the button when it is focused.
    $focused: parse-state-colors($attributes, "focused", $args...);
    @if $focused {
      @include mixins.button-focused {
        // Use the original, non-hovered and non-focused attributes as defaults such that only the
        // focused attributes that are provided are overridden when the button is focused.
        $focused: map.merge($attributes, $focused);
        @include button-variant($focused...);
      }
    }

    $active: parse-state-colors($attributes, "active", $args...);
    $active: if($active, $active, if($focused, $focused, $hovered));
    @if $active {
      @include mixins.button-active {
        // Use the original, non-hovered and non-focused attributes as defaults such that only the
        // active attributes that are provided are overridden when the button is active.
        $active: map.merge($attributes, $active);
        @include button-variant($active...);
      }
    }

    // If a 'disabled' argument is provided, include this mixin recursively to define the colors of
    // the button when it is disabled.
    $disabled: parse-state-colors($attributes, "disabled", $args...);
    @if $disabled {
      @include partials.disabled {
        // Use the original, non-hovered and non-focused attributes as defaults such that only
        // the disabled attributes that are provided are overridden when the button is disabled.
        $disabled: map.merge($attributes, $disabled);
        @include button-variant($disabled...);
      }
    }
  }
}

@mixin button-variants($type) {
  @each $variant in partials.mapget($button-variants, $type) {
    &.button--variant-#{$variant} {
      @include button-variant($type: $type, $variant: $variant);
    }
  }
}
