@use "partials";

$sidebar-width: 60px;

// 60px for the avatar image in the top left, and then 12px on the top and bottom for the padding.
$header-height: 84px;

.sidebar {
  border-right: partials.$default-border;
  width: $sidebar-width;
  display: flex;
  flex-direction: column;
  padding: 6px;
  background: linear-gradient(to bottom, transparent, theme("colors.gray.100"))
    theme("colors.gray.50");
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: $header-height;
  min-height: $header-height;
  padding: 12px;
  border-bottom: partials.$default-border;
  background: linear-gradient(to bottom, transparent, theme("colors.gray.100"))
    theme("colors.gray.50");

  &__left,
  &__right {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__right {
    flex-grow: 100;
    justify-content: right;
    gap: 12px;
    display: flex;
    align-items: center;
  }
}

.layout {
  background-color: theme("colors.appBackground");
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  > .layout__content {
    display: flex;
    flex-direction: row;
    flex-grow: 100;
    max-height: calc(100% - #{$header-height});
    overflow: hidden;

    > .content {
      overflow-y: scroll;
      padding: 15px;
      flex-grow: 100;
    }
  }
}
