@use "partials";

$drawer-width: 400px;

@mixin drawer-container {
  max-height: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

// The 'drawer-target' is the empty div placeholder with an appropriate ID that the drawer portal is
// injected into.  It will always be in the DOM - but will only have children when the drawer is
// open.
.drawer-target {
  @include drawer-container();
  min-width: fit-content;

  > .drawer {
    @include drawer-container();

    // display: flex;
    // flex-direction: column;
    width: $drawer-width;
    min-width: $drawer-width;
    border-left: 1px solid theme("colors.border");

    > .drawer__content {
      display: flex;
      flex-direction: column;
      padding: 24px;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100%;
      max-width: 100%;
      @include partials.scrollbar();
    }

    .drawer__close-button {
      position: absolute;
      z-index: 100;
      top: 16px;
      right: 12px;
    }
  }
}
