@use "partials";

@use "../screen" as screen;
@use "./constants" as constants;

.layout {
  @include screen.screen();

  background-color: theme("colors.app-background");
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  > .layout__content {
    display: flex;
    flex-direction: row;
    flex-grow: 100;
    max-height: calc(100% - #{constants.$header-height});
    overflow: hidden;
    max-width: 100%;
    position: relative;

    > .content-container {
      position: relative;
      flex-grow: 100;
      overflow-x: hidden;
      overflow-y: hidden;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      > .content {
        overflow-y: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        @include partials.fully-constrained-dimension(height, 100%);
        @include partials.fully-constrained-dimension(width, 100%);

        > .content__scroll-viewport {
          @include partials.fully-constrained-dimension(height, 100%);
          @include partials.fully-constrained-dimension(width, 100%);
          position: relative;
          padding: 16px 0px 0px 16px;
          display: flex;
          flex-direction: column;
          flex-grow: 100;

          @media (max-width: theme("screens.md")) {
            padding: 12px 0px 0px 12px;
          }

          @media (max-width: theme("screens.sm")) {
            padding: 8px 0px 0px 8px;
          }

          > * {
            position: relative;
            padding-right: 16px;

            @media (max-width: theme("screens.md")) {
              padding-right: 12px;
            }

            @media (max-width: theme("screens.sm")) {
              overflow-x: hidden;
            }
          }
        }
      }
    }
  }
}
