@use "partials";
@use "./constants" as constants;

@mixin layout-menu-container {
  max-height: 100%;
  height: 100%;
  overflow: hidden;
}

.layout-menu-wrapper {
  @include layout-menu-container();
  width: 100%;
  max-width: 320px;

  position: absolute;
  right: 0;
  z-index: 1;
  // background: linear-gradient(to bottom, transparent, theme("colors.gray.100"))
  //   theme("colors.gray.50");
  background-color: theme("colors.white");
  border-left: 1px solid theme("colors.border");

  > .layout-menu-container {
    @include layout-menu-container();
    @include partials.fully-constrained-dimension(width, 100%);
    position: relative;

    > .layout-menu {
      @include layout-menu-container();
      @include partials.fully-constrained-dimension(width, 100%);
      z-index: 100;
      position: relative;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      padding: 8px;
    }
  }
}
