@use "sass:color";
@use "sass:map";
@use "sass:list";
@use "sass:meta";
@use "sass:string";

@use "throw";

@use "../functions" as fn;
@use "../mixins" as mixins;

$app-background-color: #fbfbfb;
$disabled-background-color: #efefef;
$disabled-border-color: #f5f5f5;
$disabled-color: #f5f5f5; // Text Color
$placeholder-color: color.change(#606873, $alpha: 0.6);
