@use "sass:list";

@use "partials";
@use "./typography" as typography;

$badge-padding: 2px 6px;

$badge-sizes: (
  xxxs: 18px,
  xxs: 18px,
  xs: 20px,
  sm: 22px,
  smplus: 22px,
  md: 24px,
  lg: 26px,
  xl: 28px,
);

@mixin inherit-font-properties {
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  vertical-align: middle;
}

@mixin badge-tag() {
  text-decoration: none;
  display: inline-flex;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: fit-content;
  cursor: inherit;
  overflow: hidden;
  align-items: center;
}

@mixin badge-tag-content($prefix) {
  @include inherit-font-properties();
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
  align-items: center;

  > .icon {
    color: inherit;
  }

  > .#{$prefix}__text {
    display: block;
    @include typography.truncate();
    @include inherit-font-properties();
  }
}

.badge {
  @include badge-tag();
  color: theme("colors.body");
  @include partials.border-radius(theme("borderRadius.md"));
  padding: $badge-padding;
  font-family: typography.get-font-family("body");
  background-color: theme("colors.gray.200");
  letter-spacing: 0.0156em;
  outline: 0.0625rem solid transparent;

  > .badge__content {
    @include badge-tag-content("badge");
    gap: 6px;
  }

  // Allow the font family to be overridden with a prop.
  @include typography.with-font-families();

  @include typography.use-fonts("body") using ($size, $data) {
    &.badge--size-#{$size} {
      font-size: partials.mapget($data, font-size);
      line-height: partials.mapget($data, line-height);
      font-weight: partials.mapget($data, font-weight);
      height: partials.mapget($badge-sizes, $size);

      // Allow the font-weight to be overridden for each size.
      @include typography.with-font-weights();
      > .badge__content {
        > .badge__icon {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}

.tag {
  @include badge-tag();
  font-family: typography.get-font-family("label");
  height: 18px;
  font-weight: 500;
  color: theme("colors.description");
  letter-spacing: -0.01em;

  @include typography.with-font-weights();
  @include typography.with-font-transforms();
  @include typography.with-font-sizes("label");

  > .tag__content {
    @include badge-tag-content("tag");
    gap: 4px;
  }
}

.badge-collection {
  font-family: typography.get-font-family("body");
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  @include typography.with-font-families();

  > .badge {
    font-weight: inherit;
    font-family: inherit;
  }

  @include typography.use-fonts("body") using ($size, $data) {
    &.badge-collection--size-#{$size} {
      $height: partials.mapget($badge-sizes, $size);
      font-weight: partials.mapget($data, font-weight);

      // Allow the font-weight to be overridden for each size.
      @include typography.with-font-weights();

      > .badge {
        font-size: partials.mapget($data, font-size);
        line-height: partials.mapget($data, line-height);
        height: $height;

        > .badge__content {
          > .badge__icon {
            height: 100%;
            width: auto;
          }
        }
      }
    }
  }
}
