.commit-timeline {
  display: flex;
  flex-direction: column;

  .commit-timeline__inner {
    padding-top: 18px;
    display: flex;
    flex-direction: column;

    .commit-timeline__item {
      .commit-timeline__item__body {
        .commit-timeline__item__body__content {
          > * {
            position: relative;
            top: -18px;
          }
        }
      }
    }
    ::before {
      /* Note: This fixes an issue with Mantine's timeline component where the actual timeline line
         disappears when the `styles.layer.sccss` files are imported for both the `@mantine/core`
         package and the `mantine-datatable` package (see ~/components/config/MantineProvider.tsx`).

         There seems to be a style collision between the two stylesheets, which causes the timeline
         line to disappear.  But, if we were to import the non-layer stylesheet from the
         '@mantine/core' package directly, it fixes the timeline issue, but introduces style
         colllisions with the tables from the 'mantine-datatable` package.

         Instead, we just specify the border here, so we can still import both `styles.layer.scss`
         files from the two packages, and not have other collision issues. */
      border-left: 2px solid theme("colors.gray.400");
    }
  }
}
