$drawer-width: 400px;

@mixin drawer-container {
  max-height: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.drawer-container {
  @include drawer-container();
  min-width: $drawer-width;
  max-width: $drawer-width;
  width: $drawer-width;
  background-color: theme("colors.white");
  border-left: 1px solid theme("colors.border");

  .drawer__close-button {
    position: absolute;
    z-index: 100;
    top: 16px;
    right: 12px;
  }

  > .drawer {
    @include drawer-container();
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%;
    min-width: 100%;
    max-width: 100%;

    .form {
      height: 100%;
    }

    > .drawer__header {
      padding: 24px 6px 0px 24px;
    }

    > .drawer__content {
      padding: 16px 6px 24px 24px;
      overflow-y: auto;
      flex-grow: 100;
      max-height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
    }
  }
}
