@use "partials";
@use "./radii" as radii;
@use "./typography" as typography;

.model-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  height: 100%;
  width: auto;
  aspect-ratio: 1;

  @include radii.with-radius using ($size, $value) {
    &--radius-#{$size} {
      clip-path: inset(0px round $value);
    }
  }

  > .model-image__fallback {
    @include partials.flex-c;
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    background-color: theme("colors.neutral.100");
    padding: 6px;

    > .icon {
      max-height: 26px;
      aspect-ratio: 1;
      width: auto;
      color: theme("colors.gray.600");
    }

    > .text {
      font-weight: typography.get-font-weight($weight: "medium");
      color: theme("colors.gray.300");
      font-size: inherit;
    }
  }
}
