@use "sass:map";
@use "partials";

@use "./icons" as icons;

.loading {
  > .spinner {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
  }

  &--screen {
    > .spinner {
      height: icons.get-icon-size("lg");
      width: icons.get-icon-size("lg");
    }
  }
}
