@use "sass:map";
@use "partials";

.loading {
  > .spinner {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
  }

  &--screen {
    > .spinner {
      height: partials.get-icon-size("lg");
      width: partials.get-icon-size("lg");
    }
  }
}
