@use "./buttons/base" as buttons;
@use "./buttons/variants" as variants;

.paginator {
  width: 100%;

  .mantine-Group-root {
    display: flex;
    flex-direction: row;
    gap: 6px;
    width: 100%;

    > button {
      @include buttons.button(
        "button",
        $size: "small",
        $variant: "secondary",
        $border: true,
        $active-selector: '[data-active="true"]'
      );
    }

    > button:first-child {
      margin-right: auto;
    }

    > button:last-child {
      margin-left: auto;
    }
  }
}
