@use "partials";

.project-image-container {
  margin-top: theme("spacing.2");
  margin-bottom: theme("spacing.2");
  width: 100%;
  max-width: 100%;

  > .project-image {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    width: 100%;
    max-width: 100%;

    > .project-image-wrapper {
      @include partials.border-radius(theme("borderRadius.md"));
      position: relative;
      max-width: 100%;
      max-height: 100%;
      flex-grow: 100;
      overflow: hidden;

      -webkit-box-shadow: theme("boxShadow.sm");
      -moz-box-shadow: theme("boxShadow.sm");
      box-shadow: theme("boxShadow.sm");

      > .project-image-image {
        overflow: hidden;
      }
    }
  }
}
