@mixin timeline-line($width: 2px, $color: theme("colors.gray.400")) {
  .timeline__inner {
    .mantine-Timeline-root {
      .timeline__item:not(:last-child) {
        &::before {
          /* Note: This fixes an issue with Mantine's timeline component where the actual timeline
             line disappears when the `styles.layer.sccss` files are imported for both the
             `@mantine/core` package and the `mantine-datatable` package
             (see ~/components/config/MantineProvider.tsx`).

             There seems to be a style collision between the two stylesheets, which causes the
             timeline line to disappear.  But, if we were to import the non-layer stylesheet from
             the '@mantine/core' package directly, it fixes the timeline issue, but introduces style
             colllisions with the tables from the 'mantine-datatable` package.

             Instead, we just specify the border here, so we can still import both
             `styles.layer.scss` files from the two packages, and not have other collision issues.
             */
          border-inline-start: $width solid $color;
        }
      }
    }
  }
}

@mixin timeline-item() {
  .timeline__inner {
    .timeline__item {
      @content;
    }
  }
}

@mixin timeline-item-bullet() {
  @include timeline-item() {
    .timeline__item__bullet {
      @content;
    }
  }
}

@mixin timeline-item-spacing($spacing) {
  @include timeline-item() {
    &:where(:not(:first-of-type)) {
      margin-top: $spacing;
    }
  }
}

@mixin timeline-item-offset($offset) {
  .timeline__inner {
    padding-top: $offset;

    .timeline__item {
      .timeline__item__body {
        .timeline__item__body__content {
          > * {
            top: -$offset;
          }
        }
      }
    }
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  @include timeline-line();

  .timeline__inner {
    display: flex;
    flex-direction: column;

    .timeline__item {
      .timeline__item__body {
        .timeline__item__body__content {
          > * {
            position: relative;
          }
        }
      }
    }
  }
}

.commit-timeline {
  @include timeline-item-offset(22px);
  @include timeline-line($width: 2px, $color: theme("colors.gray.200"));
  @include timeline-item-bullet() {
    background-color: theme("colors.gray.200");
  }
}

.details-timeline {
  @include timeline-item-offset(2px);
  @include timeline-item-spacing(10px);
  @include timeline-line($width: 1px, $color: theme("colors.gray.200"));
  @include timeline-item-bullet() {
    background-color: theme("colors.gray.200");
  }
}
