@use "partials";

.dropzone {
  width: 100%;
  height: 60px; // Just a default
  display: flex;
  flex-direction: column;
  border-style: dashed;
  border-width: 1px;
  border-color: theme("colors.border");
  border-radius: theme("borderRadius.md");
  justify-content: center;
  align-items: center;
  position: relative;

  @include partials.hovered {
    border-color: theme("colors.blue.600");
  }
}
