@use "sass:map";
@use "partials";

$animations: (
  "overlay": (
    "start": rgba(255, 255, 255, 0.75),
    "middle": rgba(255, 255, 255, 0.375),
    "end": rgba(255, 255, 255, 0),
  ),
  "blur": (
    "start": 2px,
    "middle": 1px,
    "end": 0px,
  ),
  "dim": (
    "start": 0.6,
    "middle": 0.8,
    "end": 1,
  ),
);

@mixin animation($animation, $position) {
  $value: partials.mapget($animations, $animation, $position);
  @if $animation == "overlay" {
    background: $value;
  } @else if $animation == "blur" {
    filter: blur($value);
    -webkit-filter: blur($value);
  } @else {
    opacity: $value;
  }
}

@mixin animations($animations, $position) {
  @each $animation in $animations {
    @include animation($animation, $position);
  }
}

@mixin animate-frames($animations, $name) {
  @keyframes #{$name} {
    0% {
      @include animations($animations, "start");
    }
    50% {
      @include animations($animations, "middle");
    }
    100% {
      @include animations($animations, "end");
    }
  }
  & + div {
    -webkit-animation: #{$name} 2s;
    -webkit-animation-delay: 0.5s;
    animation: #{$name} 2s;
    animation-delay: 0.5s;
    animation-direction: normal;
  }
}

@mixin screen-view() {
  height: 100vh;
  width: 100vw;
}

@mixin view() {
  @include partials.flex-c;
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1000;
  overflow: hidden;
}

.view {
  @include view();

  &--screen {
    @include screen-view();
  }

  &:not(.loading) {
    &.view--overlay {
      background: rgba(255, 255, 255, 0.75);
    }

    &.view--dimmed {
      & + div {
        opacity: 0.6;
      }
    }

    &.view--blurred {
      & + div {
        filter: blur(1px);
      }
    }
  }

  &.loading {
    &.is-loading {
      &.view--dimmed.view--overlay.view--blurred {
        @include animate-frames(("dim", "overlay", "blur"), "dim_overlay_blur");
      }
      &.view--dimmed:not(.view--blurred, .view--overlay) {
        @include animate-frames(("dim"), "dim_only");
      }
      &.view--overlay:not(.view--blurred, .view--dimmed) {
        @include animate-frames(("overlay"), "overlay_only");
      }
      &.view--blurred:not(.view--dimmed, .view--overlay) {
        @include animate-frames(("blur"), "blur_only");
      }
      &.view--dimmed.view--overlay:not(.view--blurred) {
        @include animate-frames(("dim", "overlay"), "dim_overlay");
      }
      &.view--dimmed.view--blurred:not(.view--overlay) {
        @include animate-frames(("dim", "blur"), "dim_blur");
      }
      &.view--overlay.view--blurred:not(.view--dimmed) {
        @include animate-frames(("blur", "overlay"), "blur_overlay");
      }
    }
  }
}
