@use "sass:color";

@use "../typography" as typography;

$input-types: ("text-input", "text-area", "select");

// These colors are the default values for the input component.  The specific colors may change
// depending on the variant.
$input-bg-color: theme("colors.white");
$input-color: theme("colors.text");
$input-caret-color: theme("colors.text");

// TODO: Add to Tailwind Config instead.
$input-placeholder-color: color.change(#606873, $alpha: 0.6);
$input-border-radius: 2px;

$input-font-weight: typography.get-font-weight(
  $type: "text",
  $weight: "regular",
);
$input-font-family: typography.get-font-family(
  $type: "text",
);
