@use "partials";

@use "./browser-reset";
@use "./checkbox";
@use "./radio";

@use "./base" as base;
@use "./constants" as constants;
@use "./sizing" as sizing;
@use "./variants" as variants;
@use "./mixins" as mixins;

.input {
  @include base.input-base;
  @include sizing.input-sizes();
  @include variants.input-variants();
  @include mixins.input-locked-or-loading();

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: theme("spacing.1");
  outline-offset: -1px;
  border-radius: constants.$input-border-radius;

  @include sizing.input-size(sizing.$input-default-size);
  @each $size in sizing.$input-sizes {
    &--size-#{$size} {
      @include sizing.input-size($size);
    }
  }

  > .input__content {
    flex-grow: 100;
    align-items: center;
    height: 100%;
  }

  .icon {
    color: theme("colors.gray.500");
  }
}

.text-input {
  > .input__content {
    > .native-input {
      font-size: inherit;
      line-height: inherit;
      padding: 0;
      width: 100%;

      &:disabled {
        // This overrides a disabled background applied by the browser.  We want the background to
        // be applied to the outer .input class, not the inner input element.
        background-color: inherit;
      }
    }
  }
}
