@use "partials";

@use "../typography" as typography;

@use "./browser-reset";
@use "./checkbox";
@use "./radio";
@use "./dates";

@use "./base" as base;
@use "./constants" as constants;
@use "./sizing" as sizing;
@use "./variants" as variants;
@use "./mixins" as mixins;

@mixin input-sizes($type) {
  $type: partials.validate-value($type, constants.$input-types);

  @include sizing.input-size(sizing.$input-default-size, $type);

  @each $size in sizing.$input-sizes {
    &.input--size-#{$size} {
      @include sizing.input-size($size, $type);
      // Allow the font size to be overridden with a prop for each input size.
      @include typography.with-font-sizes("body");
    }
  }
}

.input {
  @include base.input-base;
  @include variants.input-variants();
  @include mixins.input-locked-or-loading();

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: theme("spacing.2");
  outline-offset: -1px;
  @include partials.border-radius(constants.$input-border-radius);
  overflow: hidden;

  @include mixins.input-read-only();
  @include partials.disabled() {
    pointer-events: none !important;
  }

  // Allow the font weight to be overridden with a prop.
  @include typography.with-font-families();
  // Allow the font-weight to be overridden for each size.
  @include typography.with-font-weights();
  // Allow the font size to be specified independently of the input's size.
  @include typography.with-font-sizes("body");

  > .input__content {
    flex-grow: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  &.select {
    @include input-sizes("select");
  }

  &.text-input {
    @include input-sizes("text-input");

    > .input__content {
      > .native-input {
        pointer-events: inherit;
        font-size: inherit;
        line-height: inherit;
        padding: 0;
        width: 100%;

        &:disabled {
          // This overrides a disabled background applied by the browser.  We want the background to
          // be applied to the outer .input class, not the inner input element.
          background-color: inherit;
        }
      }
    }
  }

  &.text-area {
    overflow-y: auto;
    @include input-sizes("text-area");
  }
}
