@use "partials";

@mixin input-disabled {
  &[data-attr-disabled="true"] {
    pointer-events: none !important;
    @content;
  }
}

@mixin input-loading {
  &[data-attr-loading="true"] {
    pointer-events: none !important;
    @content;
  }
}

@mixin input-locked {
  &[data-attr-locked="true"] {
    pointer-events: none !important;
    @content;
  }
}

@mixin input-not-disabled-locked-loading() {
  &:not([data-attr-disabed="true"]):not([data-attr-locked="true"]):not([data-attr-loading="true"]) {
    @content;
  }
}

@mixin input-hovered {
  @include partials.hovered {
    @include input-not-disabled-locked-loading() {
      &:not([data-attr-active="true"]) {
        @content;
      }
    }
  }
}

@mixin input-focused {
  @include partials.focused {
    @include input-not-disabled-locked-loading() {
      @content;
    }
  }
}

@mixin input-active {
  &[data-attr-active="true"] {
    @include input-not-disabled-locked-loading() {
      @content;
    }
  }
}

@mixin input-read-only {
  &[data-attr-readonly="true"] {
    @include input-not-disabled-locked-loading() {
      @content;
    }
  }
}

@mixin input-focused-within {
  @include partials.focused-within {
    @include input-not-disabled-locked-loading() {
      @content;
    }
  }
}
