@mixin typography-base() {
  font-feature-settings:
    "tnum" on,
    "lnum" on;
  font-style: normal;
  font-variant: tabular-nums;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
