@use "sass:map";
@use "partials";

@use "./base" as *;
@use "./mixins" as mixins;

@mixin title() {
  @include mixins.with-fonts("title");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %typography-base;
  width: 100%;

  em,
  b {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
  }

  @include title();
}

h1 {
  @include mixins.font("title", $size: "xl");
}

h2 {
  @include mixins.font("title", $size: "lg");
}

h3 {
  @include mixins.font("title", $size: "md");
}

h4 {
  @include mixins.font("title", $size: "sm");
}

h5 {
  @include mixins.font("title", $size: "xs");
}

h6 {
  @include mixins.font("title", $size: "xxs");
}
