@use "partials";

@use "./fn" as *;

@mixin truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin clamp($line-clamp: 2) {
  @include truncate;
  -webkit-line-clamp: $line-clamp;
  -webkit-box-orient: vertical;
  display: block;
}

@mixin inherit-font-properties() {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-decoration: inherit;
}

@mixin font-family($type) {
  font-family: get-font-family($type);
}

@mixin text-font-family() {
  @include font-family("text");
}

@mixin title_font-family() {
  @include font-family("title");
}

@mixin label-font-family() {
  @include font-family("label");
}

/* --------------------------------------- Font Weights ----------------------------------------- */
@mixin font-weight($args...) {
  font-weight: get-font-weight($args...);
}

@mixin text-font-weight($args...) {
  font-weight: get-font-weight($type: "text", $args...);
}

@mixin title_font-weight($args...) {
  font-weight: get-font-weight($type: "title", $args...);
}

@mixin label-font-weight($args...) {
  font-weight: get-font-weight($type: "label", $args...);
}

/* --------------------------------------- Font Sizes ----------------------------------------- */
@mixin font-size($type, $size: null) {
  font-size: get-font-size($type, $size);
}

@mixin title_font-size($size: null) {
  @include font-size("title", $size);
}

@mixin text-font-size($size: null) {
  @include font-size("text", $size);
}

@mixin label-font-size($size: null) {
  @include font-size("label", $size);
}

@mixin line-height($type, $size: null) {
  line-height: get-line-height($type, $size);
}

@mixin title_line-height($size: null) {
  @include line-height("title", $size);
}

@mixin text-line-height($size: null) {
  @include line-height("text", $size);
}

@mixin label-line-height($size: null) {
  @include line-height("label", $size);
}

/* --------------------------------------- Font Colors ------------------------------------------ */
@mixin font-color($type, $color: null) {
  color: get-font-color($type, $color);
}

@mixin text-font-color($args...) {
  @include font-color("text", $args...);
}

@mixin title_font-color($args...) {
  @include font-color("title", $args...);
}

@mixin label-font-color($args...) {
  @include font-color("label", $args...);
}

/* --------------------------------------- Font Specs ------------------------------------------ */
@mixin font($type, $args...) {
  $properties: get-font($type, $args...);
  @include partials.mapped-properties($properties);
}

@mixin with-font-sizes($type) {
  @each $size in partials.mapget($typography-sizes, $type) {
    $properties: get-font($type, $size: $size);
    @content ($size, $properties);
  }
}

@mixin with-font-weights() {
  @each $weight in $font-weight-names {
    &.font-weight-#{$weight} {
      font-weight: get-font-weight($weight: $weight);
    }
  }
}

@mixin with-font-families() {
  &.font-family-inter {
    font-family: $font-family-inter;
  }
}

@mixin with-text-transforms() {
  @each $transform in $text-transforms {
    &.transform-#{$transform} {
      text-transform: $transform;
    }
  }
}

@mixin title($args...) {
  @include font("title", $args...);
}

@mixin text($args...) {
  @include font("text", $args...);
}

@mixin label($args...) {
  @include font("label", $args...);
}

@mixin with-fonts($type) {
  @include font-color($type);
  @include with-font-weights();
  @include with-font-families();
  @include with-text-transforms();

  @include with-font-sizes($type) using ($size, $data) {
    &.font-size-#{$size} {
      font-size: partials.mapget($data, font-size);
      line-height: partials.mapget($data, line-height);
      font-weight: partials.mapget($data, font-weight);

      // Allow the font-weight to be overridden for each size.
      @include with-font-weights();

      @content ($data);
    }
  }
}
