@use "partials";

.popover-content {
  z-index: 10;
  border-radius: theme("borderRadius.sm");
  box-shadow: theme("boxShadow.md");
  padding: 10px 12px;
  background-color: theme("colors.white");
  overflow: hidden;

  &:focus {
    outline: none !important;
  }

  > .menu {
    max-height: inherit;
  }

  @include partials.loading() {
    pointer-events: none;

    > *:not([data-attr-loading-view="true"]) {
      opacity: 0.6;
    }
  }
}
